{% comment %}
  Size Drawer Component
  Usage: {% render 'size-drawer', product: product, section_id: section.id %}
{% endcomment %}

<!-- Size Drawer HTML -->
<div id="size-drawer-{{ section_id }}" class="size-drawer" style="display: none;">
  <div class="size-drawer-overlay" onclick="closeSizeDrawer('{{ section_id }}')"></div>
  <div class="size-drawer-content">
    <div class="size-drawer-header">
      <h3>Escolha o tamanho</h3>
      <button type="button" class="close-drawer" onclick="closeSizeDrawer('{{ section_id }}')">
        <span>&times;</span>
      </button>
    </div>
    
    <div class="size-drawer-body">
      <div class="size-guide-link">
        <a href="/pages/guia-de-tamanhos" target="_blank">Guia de tamanhos</a>
      </div>
      
      <div class="size-options" id="size-options-{{ section_id }}">
        <!-- Sizes will be populated by JavaScript based on selected color -->
      </div>
    </div>
  </div>
</div>

<!-- Product Variants Data for JavaScript -->
<script>
  window.productData_{{ section_id }} = {
    variants: {{ product.variants | json }},
    options: {{ product.options_with_values | json }},
    sectionId: '{{ section_id }}'
  };
</script>